.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 100%;
  height: 100vh;
  white-space: pre-line;
  overflow: hidden;

  .carouselSlides {
    display: flex;
    width: 100%;
    overflow: hidden;

    .slide {
      min-width: 100%;
      transition: ease 300ms;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &.active {
        opacity: 1;
      }

      img {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 70vh;
        width: 250px;
        height: 250px;
      }
    }
  }
  .indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .indicator {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
      margin: 0 5px;

      &.active {
        background-color: rgb(255, 0, 0); // 활성화된 슬라이드를 나타내는 색상
      }
    }
  }
  button {
    box-shadow: -2px 2px 4px 0px rgba(45, 36, 36, 0.567);
  }
  h1,
  p {
    width: 100%; // 전체 너비를 사용
    text-align: center; // 텍스트를 가운데 정렬
    display: block; // 블록 레벨 요소로 설정
    color: white;
  }
}
