.container {
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  background-color: #000; /* 배경색 */
  background-image: url("../../public/assets/background-gold-tree.png");
  background-size: 350px 256px; /* 배경 이미지 크기 설정 */
  background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
  background-position: right; /* 배경 이미지를 컨테이너 중앙에 배치 */
}

.ImgandObjectContainer {
  width: 80%;
  height: 90vh;
  text-align: center;
  color: white;
  //수정 필요.
  .loginWelcome {
    color: #fff;

    text-align: center;
    font-family: Pretendard Variable;
    font-size: 30px;
    font-style: normal;
    text-shadow: 10px 10px 7px lightgray;
  }
  .imageContainer {
    margin-bottom: 40px; /* 이미지와 버튼 사이의 마진 */
    display: flex; /* Flexbox 레이아웃 사용 */
    justify-content: center; /* 가로축을 기준으로 가운데 정렬 */
    align-items: center; /* 세로축을 기준으로 가운데 정렬 */
  }

  .imageContainer img {
    max-width: 100%; /* 이미지가 컨테이너를 넘지 않도록 함 */
    width: 250px;
    height: 250px; /* 이미지의 비율 유지 */
  }
  .snowDollarContainer {
    margin-bottom: 20px; /*  버튼 사이의 마진 */

    h1 {
      color: #fff;

      text-align: center;
      font-family: Pretendard Variable;
      font-size: 30px;
      font-style: normal;
      text-shadow: 15px 14px 7px lightgray;
    }
    img {
      width: 23px;
      height: 25px;
    }
    span {
      font-size: 28px;
      font-weight: 600;
      translate: translateY(7px);
    }
  }
  .buttonsContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 40vh;
    h1,
    p {
      text-align: center;
      justify-content: center;
      align-items: center;
      white-space: pre-line;
      color: white;
    }
    button {
      padding: 25px; /* 버튼을 세로로 정렬 */
    }
  }
  .inputContainer {
    display: flex;
    flex-direction: column; /* 버튼을 세로로 정렬 */

    input {
      height: 70px; /* 높이 설정 */
      background-color: #ce294d; /* 내부 색상 설정 */
      color: white; /* 텍스트 색상 설정 */
      text-align: center; /* 텍스트 중앙 정렬 */
      border: none; /* 테두리 제거 */
      font-size: 20px; /* 텍스트 사이즈 설정 */

      // 텍스트 필드에서 기본 패딩 제거
      padding: 0;
      // 테두리 반경 설정 (선택적)
      border-radius: 5px;

      // 플레이스홀더 스타일 설정
      &::placeholder {
        color: white;
        opacity: 0.7;
      }

      // 포커스 시 테두리 스타일 변경 (선택적)
      &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .questionContainer {
    background-color: #ce294d;
    border-radius: 20px; // 둥근 모서리
    margin-bottom: 20px; // 하단 마진
    width: 100%; // 컨테이너 폭
    color: white; // 텍스트 색상
    text-align: center; // 텍스트 중앙 정렬
    justify-content: center; // 가로축 중앙 정렬
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); // 그림자 효과
    padding: 10px;
    h1 {
      font-size: 18px; // 텍스트 크기
    }
  }
  .peoplesContainer {
    width: 100%; // 컨테이너 폭
    height: 40vh;
    display: grid; // CSS Grid 레이아웃 사용
    grid-template-columns: repeat(
      auto-fill,
      minmax(120px, 1fr)
    ); // 최소 120px, 가능한 경우 1fr로 채우며, 공간이 부족하면 새로운 행 생성
    gap: 10%; // 그리드 아이템 사이 간격
    justify-content: center; // 가로축 중앙 정렬
    overflow-y: auto;
    overflow-x: hidden;
    button {
      font-size: 18px;
    }
  }
  //questions랑 quesion은 다른 거니까 주의!!
  .questionsContainer {
    width: 100%; // 컨테이너 폭
    height: 50vh;
    display: grid; // CSS Grid 레이아웃 사용
    grid-template-columns: repeat(
      auto-fill,
      minmax(300px, 1fr)
    ); // 최소 120px, 가능한 경우 1fr로 채우며, 공간이 부족하면 새로운 행 생성
    gap: 5%; // 그리드 아이템 사이 간격
    justify-content: center; // 가로축 중앙 정렬
    overflow-y: auto;
    overflow-x: hidden;
    button {
      font-size: 30px;
    }
  }
  .resultContainer {
    margin-top: 50px;
    color: #fff;
    text-align: center;
    font-family: Pretendard Variable;
    font-size: 16px;
    line-height: 40px; /* 95.652% */

    white-space: pre-line;
    button {
      font-size: 16px;
      font-weight: 600;
    }
  }
  .guessPeoplesContainer {
    width: 100%; // 컨테이너 폭
    height: 60vh;
    display: grid; // CSS Grid 레이아웃 사용
    grid-template-columns: repeat(
      auto-fill,
      minmax(120px, 1fr)
    ); // 최소 120px, 가능한 경우 1fr로 채우며, 공간이 부족하면 새로운 행 생성
    gap: 3%; // 그리드 아이템 사이 간격
    justify-content: center; // 가로축 중앙 정렬
    overflow-y: auto;
    overflow-x: hidden;
    button {
      padding: 30px;
      font-size: 20px;
      box-shadow: inset -4px 4px 0px 0px rgb(77, 64, 64);
    }
  }
  .resultImgContainer {
    img {
      width: 190px;
      height: 250px;
    }
    .imgSnowman {
      width: 250px;
      height: 250px;
    }
    p {
      text-align: center;
      font-family: Pretendard Variable;
      font-size: 20px;
      font-style: normal;
      white-space: pre-line;
      font-weight: 500;
      letter-spacing: -0.5px;
    }
    span {
      color: #9ea3b2;
      text-align: center;
      font-family: Pretendard Variable;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 185.714% */
      letter-spacing: -0.35px;
    }
    .redSpan {
      color: #ce294d;
      text-align: center;
      font-family: Pretendard Variable;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px; /* 185.714% */
      letter-spacing: -0.35px;
      text-decoration-line: underline;
    }
  }
  .Login{
    img{width: 308px;
        height: 70px;
      }
  }
}

/* 추가적인 반응형 디자인이나 세부 스타일링은 필요에 따라 추가 */
