// InvitationCard.module.scss
.container {
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  background-color: #000; /* 배경색 */
  background-image: url("../../public/assets/background-gold-tree.png");
  background-size: 350px 256px; /* 배경 이미지 크기 설정 */
  background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
  background-position: right; /* 배경 이미지를 컨테이너 중앙에 배치 */

  .cardContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #000; // 배경색은 예시입니다.
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
  }

  .imageContainer {
    margin-top: 40px;
    img {
      width: 250px;
      height: 88px;
    }
  }

  .textContainer {
    margin-top: 20px; // 간격은 예시입니다.
    font-size: 30px;
    color: #fff; // 텍스트 색상은 예시입니다.
    text-align: center;
    white-space: pre-line;
  }

  .buttonContainer {
    margin-top: 40px; // 간격은 예시입니다.
  }
}
