.container {
  z-index: 10;
  display: flex;
  height: 65vh;
  flex-direction: column;
  align-items: center;
  background-size: 350px 256px; /* 배경 이미지 크기 설정 */
  background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
  background-position: right; /* 배경 이미지를 컨테이너 중앙에 배치 */
  overflow-y: scroll;
  // Profile.module.scss
  .profile {
    display: flex;
    flex-direction: column;
    width: 90%;
    color: white;
    padding: 20px;
  }

  .userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-radius: 20%;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    width: 80px; // 아바타 이미지의 크기를 조절하세요.
    height: 80px; // 아바타 이미지의 크기를 조절하세요.
  }

  .details {
    display: flex;
    font-size: 23px;
    flex-direction: column;
  }

  .name {
    font-size: 30px;
  }

  .menu {
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .menuItem {
    padding: 10px 0;
    border-bottom: 1px solid #444; // 각 항목을 구분하는 선
    &:last-child {
      border-bottom: none; // 마지막 항목에는 선이 없도록
    }
  }

  .menuTitle {
    font-weight: bold;
    margin-bottom: 10px;
  }
}
