<<<<<<< Updated upstream
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

=======
>>>>>>> Stashed changes
.button {
  font-weight: 900; // 정의한 폰트 굵기에 맞게 설정
  font-style: normal; // 정의한 폰트 스타일에 맞게 설정
  font-size: 23px; // 폰트 크기 설정
  background-color: #ce294d; /* 버튼 배경색 */
  color: white; /* 버튼 텍스트 색상 */
  padding: 10px 20px; /* 버튼 내부 여백 */
  margin: 10px 0; /* 버튼 사이의 마진 */
  border: none; /* 테두리 제거 */
  border-radius: 15px; /* 버튼 모서리 둥글게 */
  box-shadow: inset -8px 10px 4px 0px rgba(45, 36, 36, 0.567);
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
}

.button:hover {
  background-color: #01a776; /* 마우스 오버 시 버튼 색상 변경 */
  box-shadow: inset 0px 0px 0px 0px #ce294d;
}
