.footer {
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100%;
  z-index: 10;
  // 여기에 필요한 배경색, 패딩 등의 스타일 추가
  display: flex;
  justify-content: space-around; // 버튼을 균등하게 분포
  align-items: center; // 버튼을 세로축 중앙에 배치
  padding: 20px 0; // 상하 패딩
  // 추가적인 배경이나 스타일링

  .footer-btn {
    background: none;
    border: none;
    cursor: pointer;

    // 아이콘 스타일링 혹은 아이콘 이미지를 사용하는 경우
    img {
      width: 40px;
      height: 40px;
    }
  }
}
